{%extends "base.html"%}

{%block header%}
<title>配置</title>
{%endblock%}

{%block content1%}
<div >
<ol class="breadcrumb">
 <li><a href="/">Home</a></li>
 <li class="active">setting</li>
</ol>
</div>

<div class="container">
<ul class="nav nav-tabs">
{%for section_name in section %}
   {%if forloop.first %}
<li class="active" id="dp_active"><a data-toggle="tab" href="#{{section_name}}">{{section_name}}</a></li>
    {%else%}
<li><a data-toggle="tab" href="#{{section_name}}">{{section_name}}</a></li>
   {%endif%}
{%endfor%}
</ul>
<br>


<div class="tab-content">

{%for section_name in section %}
{%if forloop.first %}
<div id="{{section_name}}" class="tab-pane fade in active">
{%else%}
<div id="{{section_name}}" class="tab-pane fade">
{%endif%}
 <table class="table table-bordered" style="width:90%">
   <thead>
  	<tr style="background:pink" >
	<td style="width:20%;" >字段名</td>
	<td >属性值</td>
	<td style="width:30px;">修改</td>							
       	</tr>
    </thead>
    <tbody>
{%for data in deploy%}
{%if data.section_name == section_name %}
<tr data_row_id="{{forloop.counter}}">
	<td data_cell_id="{{forloop.counter}}-0" data_check_box="{{data.id}}">{{data.key_name}}</td>
	<td data_cell_id="{{forloop.counter}}-1">{{data.value_name}}</td>
	<td data_cell_id="{{forloop.counter}}-2">
	<button type="button" class="btn btn-warning btn-xs" data_action="edit" data_row_id="{{forloop.counter}}" data_check_box="{{data.id}}">修改</button>
	</td>
</tr>
{%endif%}
{%endfor%}
	</tbody>
	</table>
	<div class="btn-group ">
	<button type="button" class="btn btn-danger btn-xs" data_action="add_attr"><span class="glyphicon glyphicon-plus"></span> 添加属性</button>
	</div>				
</div>
{%endfor%}
</div>
</div>	



<div class="modal fade" id="action">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h3 class="modal-title" id="department_attr"><span class="label label-primary"> 配置属性</label></h3>
</div>
<div class="modal-body">
   <form>
    <p><span class="glyphicon glyphicon-exclamation-sign text-primary"></span> 英文字母最多20个，汉字最多6个</p>
    <div class="input-group">
    <span class="input-group-addon ">字段名: </span>
    <input type="text" name="department" class="form-control " style="width: 300px;"  placeholder="请输入属性名称">
  </div>
  <div class="input-group">
    <span class="input-group-addon">属性值: </span>
    <input type="text" name="department_desc" class="form-control" placeholder="请输入属性值...">
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
  <input type="submit"  class="btn btn-primary" name="dp_attr_tj" value="提交">
</div>
</div>
</div>
</div>


<script>
$("[data_action]").click(function(){
   let action = this.getAttribute("data_action");
   let now_dpname = $("#dp_active").children().text();
   $("#department_attr").children().text(now_dpname);
      
    if (action === "edit"){
      let sec_name = $(this).parent().siblings().first().text();
      let desc_name = $(this).parent().prev().text();
      $("input[name='department']").prop('value',sec_name);
      $("input[name='department_desc']").prop('value',desc_name);
      $("#action").modal('show');
     }else if(action === "add_attr"){
      $("#action").modal('show');
      $("input[name='department']").prop('value','');
      $("input[name='department_desc']").prop('value','');
     }
});
$("[name='dp_attr_tj']").click(function(){
  let dpname = $("input[name='department']").prop('value'),
      dp_desc = $("input[name='department_desc']").prop('value'),
      tmp_data = {"dpname":dpname,"dp_desc":dp_desc},
      path = '/deploy/set_deploy';
  if (dpname === ''){
    alert("⚠️  组织名称不能为空!");
    return
  }else if(dp_desc === ''){
    alert("⚠️  组织描述不能为空!");
    return
  };
   ajax_post(path,tmp_data,function1("/deploy"))
});


</script>
{%endblock%}
