{%extends "base.html"%}

{%block header%}
<title>配置</title>
{%endblock%}

{%block content1%}
<div >
<ol class="breadcrumb">
 <li><a href="/">Home</a></li>
 <li class="active">setting</li>
</ol>
</div>

<div class="container">
<ul class="nav nav-tabs">
{%for section_name in section %}
   {%if forloop.first %}
<li class="active"><a data-toggle="tab" href="#{{section_name}}">{{section_name}}</a></li>
    {%else%}
<li><a data-toggle="tab" href="#{{section_name}}">{{section_name}}</a></li>
   {%endif%}
{%endfor%}
</ul>
<br>


<div class="tab-content">

{%for section_name in section %}
{%if forloop.first %}
<div id="{{section_name}}" class="tab-pane fade in active">
{%else%}
<div id="{{section_name}}" class="tab-pane fade">
{%endif%}
 <table class="table table-bordered">
   <thead>
  	<tr style="background-color:pink;">
	<td >字段名</td>
	<td >字段值</td>
	<td style="width:30px;">修改</td>							
       	</tr>
    </thead>
    <tbody>
{%for data in deploy%}
{%if data.section_name == section_name %}
<tr data_row_id="{{forloop.counter}}">
	<td data_cell_id="{{forloop.counter}}-0" data_check_box="{{data.id}}">{{data.key_name}}</td>
	<td data_cell_id="{{forloop.counter}}-1">{{data.value_name}}</td>
	<td data_cell_id="{{forloop.counter}}-2">
	<button type="button" class="btn btn-warning btn-xs" data_action="edit" data_row_id="{{forloop.counter}}" data_check_box="{{data.id}}">修改</button>
	</td>
</tr>
{%endif%}
{%endfor%}
	</tbody>
	</table>
	<div class="btn-group ">
	<button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> 添加属性</button>
	</div>				
</div>
{%endfor%}
</div>
</div>	
{%endblock%}
