{%extends "base.html"%}
{%block header%}
 <title>用户</title>
{%endblock%}
{%block content1%}
<div >
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">user</li>
 </ol>
</div>
<div>
  <div class="btn-group user_manager_add pull-right clearfix" style="margin-right: 20px;">
<!--    <button  type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-open-file"></span> 导出用户</button>
    <button  type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-save-file"></span> 导入用户</button> -->
    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#user_add"><span class="glyphicon glyphicon-plus"></span> 添加用户</button>
  </div>
  <div style="margin-right: 20px;" >
    <table class="table  table-bordered ">
      <tbody>
        <tr style="height:20px;">
	<td class="text-center bg-success" style="width:30px;">
	<a href="javascript:;" id="department_refresh" style="width:50px;line-height: 30px;">
	<span class="glyphicon glyphicon-refresh"></span>
	</a>
	</td>
	<td class="text-center bg-success" style="width:100px;line-height: 30px;">用户名</td>
	<td class="bg-success">
	<form style="display: inline-block;" class="pull-left input-group-sm">
	<input type="text" name="suosou" placeholder="搜索用户..." class="form-control" style="height: 30px;">
	</form>
        </td>
	<td class="text-center bg-success" style="width: 100px;line-height: 30px;">角色</td>
	<td class="text-center bg-success" style="width: 50px;line-height: 30px;">状态</td>
	<td class="text-center bg-success" style="width:150px;line-height: 30px;">操作</td>
       </tr>
{% for user in users %}
  <tr data_row_id="{{forloop.counter}}">
   <td data_cell_id="{{forloop.counter}}-0">
   {%if user.user_role == 1 %}
    <span></span>
   {%else%}
   <input type="checkbox" data_check_box="{{user.id}}">
   {%endif%}
   </td>
   <td class="text-primary" data_cell_id="{{forloop.counter}}-1" >{{user.username}}</td>
   <td class="text-primary" data_cell_id="{{forloop.counter}}-2"> {{user.desc}}</td>
   <td class="text-warning text-center" data_cell_id="{{forloop.counter}}-3">
   {%if user.user_role == 1%}
    <span class="label label-default">系统管理员</span>
   {%elif user.user_role == 2%}
   <span class="label label-default">部门管理员</span>
   {%elif user.user_role == 3%}
   <span class="label label-default">用户</span>
   {%endif%}
   </td>
   <td data_cell_id="{{forloop.counter}}-4">
    {%if user.stat%}
    <span class="label label-success" >正常</span>
    {%else%}
    <span class="label label-danger" >禁用</span>
    {%endif%}
   </td>
   <td class="text-center" data_cell_id="{{forloop.counter}}-5">
   {%if user.user_role == 1 %}
   <span></span>
   {%else%}
     <div class="btn-group dropup">
      <button  type="button" class="btn-xs btn btn-warning dropdown-toggle" data-toggle='dropdown' data_check_box="{{user.id}}">操作 <span class="caret"></span>
      </button>
       <ul class="dropdown-menu">
       <li data_action='edit'><a href="javascript:;"><span class="glyphicon glyphicon-edit" ></span> 编辑</a></li>
       <li data_action='reset_pwd'><a href="javascript:;"><span class="glyphicon glyphicon-repeat"></span> 重置密码</a></li>
       <li data_action='lock'><a href="javascript:;"><span class="glyphicon glyphicon-lock"></span> 锁定</a></li>
       <li class='disabled' data_action='unlock'><a href="javascript:;"><span class="glyphicon glyphicon-briefcase"></span> 解锁</a></li>
      </ul>
     </div>
   {%endif%}
   </td>
  </tr>
{% endfor %}
</tbody>
</table>
<form id="booter_tip">
 <div class="input-group">
 <button type="button" class="btn btn-xs btn-default" id='selector_btn' select_all=false>全选</button>
 <button type="button" class="btn btn-xs btn-danger" id="del_btn"><span class="glyphicon glyphicon-trash"></span> 删除</button>
 </div>
</form>
<ul class="pager">
<li class="disabled"><a href="#">上一页</a></li>
<li><a href="#">当前</a></li>
<li ><a href="#">下一页 </a></li>
</ul>	 	

<div class="modal fade " id="user_add">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3 class="modal-title" id="department_addlable"><span class="label label-primary"> 添加用户账号</span></h3>
</div>
<div class="modal-body">
<div id="user_info_add">
 <label><span class="glyphicon glyphicon-star-empty"></span> 角色:</label>
 <div class="dropdown" style="display: inline-block;">
 <button type="button" class="btn btn-xs dropdown-toggle" data-toggle='dropdown'>选择角色 
 <span class="caret"></span>
</button>
 <ul class="dropdown-menu">
        {%for roler in role%}
	<li><a href="javascript:;" data_selector="{{roler.id}}">
	<span class="glyphicon glyphicon-user"></span>{{roler.desc}}</a>
	</li>
        {%endfor%}
</ul>
	</div>
	</div>
        <br>
	<div class="form-group form-group-sm has-info" >
	<label  ><span class="glyphicon glyphicon-star-empty"></span> 账号:</label>
	<input type="text" name="username"  placeholder="用户账号,用户登录名">
	<span >英文字符和数字,最大6个字符</span>
	</div>
	<div class="form-group form-group-sm has-success" >
	<label  >&nbsp;&nbsp;&nbsp;&nbsp;姓名:</label>
	<input type="text" name="desc"  placeholder="账号描述信息...">
	</div>
	<div class="form-group form-group-sm" >
	<label  ><span class="glyphicon glyphicon-star-empty"></span> 密码:</label>
	<input type="password" name="pwd1">
	</div>
	<div class="form-group form-group-sm" >
	<label  ><span class="glyphicon glyphicon-repeat"></span> 重复:</label>
	<input type="password" name="pwd2">
	</div>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
	<input type="submit"  class="btn btn-primary" id='user_add_btn'"  value="提交">
   </div>
  </div>
 </div>
</div>



<div class="modal fade" id="repwd" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h3 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"> </span>: 用户名</h3>
            </div>
            <div class="modal-body">
              <br/>
              <div class="input-group">
              <span class="input-group-addon">新密码 ：</span>
              <input type="password" class="form-control" style="width:320px;" id="new_pwd">
              <br/>
             </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="rpwd_submit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<div class="modal fade " id="user_change">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3 class="modal-title" id="department_addlable"><span class="label label-primary"> 编辑用户</span></h3>
</div>
<div class="modal-body">
<div id="user_info_edit">
 <label><span class="glyphicon glyphicon-star-empty"></span> 角色:</label>
 <div class="dropdown" style="display: inline-block;">
 <button type="button" class="btn btn-xs dropdown-toggle" data-toggle='dropdown'>选择角色 
 <span class="caret"></span>
</button>
 <ul class="dropdown-menu">
        {%for roler in role%}
	<li><a href="javascript:;" data_selector="{{roler.id}}">
	<span class="glyphicon glyphicon-user"></span>{{roler.desc}}</a>
	</li>
        {%endfor%}
</ul>
	</div>
	</div>
        <br>
	<div class="form-group form-group-sm has-info" >
	<label  ><span class="glyphicon glyphicon-star-empty"></span> 账号:</label>
	<input type="text" name="username"  placeholder="用户账号登录名">
	<span >英文字符和数字,最大6个字符</span>
	</div>
	<div class="form-group form-group-sm has-success" >
	<label  >&nbsp;&nbsp;&nbsp;&nbsp;姓名:</label>
	<input type="text" name="desc"  placeholder="账号描述信息...">
	</div>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
	<input type="submit"  class="btn btn-primary" id='user_edit_btn'"  value="提交">
   </div>
  </div>
 </div>
</div>



<script>
var tr_example = $('tr').last().clone();
$("[data_selector]").parent().click(function(){
     let btn = $("[data_selector]").parent().parent().prev();
     btn.html(this.innerText+'<span class="caret"></span>');
     role_id = this.children[0].getAttribute("data_selector");
     btn.attr("checkinfo",role_id)
});


// 用户添加
$("#user_add_btn").click(function(){
	urole = $("[data_selector]").parent().parent().prev().attr("checkinfo");
	uname = $("[name='username']").prop("value");
	udesc = $("[name='desc']").prop("value");
	pwd1 = $("[name='pwd1']").prop("value");
	pwd2 = $("[name='pwd2']").prop("value");
	re = /([0-9a-zA-Z\_]){2,63}/
    if(urole && uname && pwd1 && pwd2){
	if (re.test(uname)){
	 if (udesc.length < 255){
	  if (pwd1 === pwd2 && pwd1.length < 255 && pwd1.length >= 6) {
        	if ("123".indexOf(urole)+1) {
		$.ajax({
			url: "/consumer/add_user",
			type: "POST",
			dataType: "json",
			data: {"username":uname,"role":urole,"desc":udesc,"pwd":pwd1},
			})
			.done(function(data) {
                           let example = $('tr').last().clone();
                           if (example === ''){ example = tr_example};
                           let id_value = example.attr('data_row_id',(parseInt($('tr').last().attr('data_row_id'))+1));
                           let td_list = example.children();
                           let j =0;
                           example.children().first().children().attr('data_check_box',data.id);
                           example.children().first().next().text(uname);
                           example.children().first().next().next().text(udesc);
                           example.children().children().first().attr('data_check_box',data.id);
                           if(urole === "1"){
                            let role_name = '系统管理员';
                           }else if(urole === "2"){
                            let role_name = '部门管理员';
                           }else if(urole === "3"){
                            let role_name = '用户';
                           };
                           example.children().first().next().next().next().children().text(role_name);
                           for (let i of td_list){
                              $(i).attr('data_cell_id',id_value + '-'+j) ;
                           };
                          $('tbody').append(example); 
			})
			.fail(function() {
			console.log("error");
			})
			.always(function() {
                         $("[data_selector]").parent().parent().prev().attr("checkinfo","").html("选择角色"+'<span class="caret"></span>');
                          $("[name='username']").prop("value","");
                          $("[name='desc']").prop("value","");
                       	$("[name='pwd1']").prop("value","");
                      	$("[name='pwd2']").prop("value","");
                         $("#user_add").modal("hide");
			});
                        }else{ alert("用户角色选择失败")}
			}else{ alert("密码格式不正确")}
		}else{ alert("描述信息过长")}
	}else { alert("用户名格式不正确。数字 字母下划线 区分大小写")}
}else{ alert("请完成必填项.")}
});



// 用户删除
$("#del_btn").click(function(){
	var b = $("[data_check_box]").filter("input[type='checkbox']");
	var uidlist = [];
	for (let i of b) {
		if (i.checked){
			uidlist.push(i.getAttribute("data_check_box"));
		}
	}
        if (uidlist.length === 0){
            alert("请选择需要删除的用户！");
            return
        }
	result = confirm("警告！ 此操作不可逆 是否删除？")
	if (result){
		$.ajax({
			url: '/consumer/user_delete',
			type: 'POST',
			dataType: 'json',
			data: {"uid": uidlist},
		})
		.done(function() {
		    for(let i of b){
		        if (i.checked){
		            $(i).parent().parent().remove();
		        };
                       let box_list = $("[data_check_box]").filter("input[type='checkbox']");
                       if (box_list === ''){
                       $("#booter_tip").hide();
                       }else {
                        $("#booter_tip").show();
                     }
                    }	
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
		
	}else{
		uidlist = []
	}
    });



// 用户编辑
$("[data_action]").click(function(){
    let uid = this.parentNode.previousElementSibling.getAttribute("data_check_box"),
        loginor = $(this).parent().parent().parent().parent().children().first().next(),
        loginname = loginor.text(),
        descname = loginor.next().text(),
        rolename = loginor.next().next().children().text(),
        action = this.getAttribute("data_action");

    if (action === "edit"){
        if (rolename === "系统管理员"){
            $("#user_info_edit").children("div").children("button").attr("checkinfo",1);
            $("#user_info_edit").children("div").children("button").html(rolename+"<span class='caret'></span>");
        }else if (rolename === "部门管理员"){
            $("#user_info_edit").children("div").children("button").attr("checkinfo",2);
            $("#user_info_edit").children("div").children("button").html(rolename+"<span class='caret'></span>");
        }else if (rolename === "用户"){
            $("#user_info_edit").children("div").children("button").attr("checkinfo",3);
            $("#user_info_edit").children("div").children("button").html(rolename+"<span class='caret'></span>");
        };
        $("#user_info_edit").next().next().children("input").prop("value",loginname);
        $("#user_info_edit").siblings().last().children().last().prop("value",descname);
        $("#user_change").modal('show');
        $("#user_edit_btn").click(function(){
           let path = "/consumer/edit_user";
           let tmp_data = [loginname,descname,rolename];
           let function1 = console.log("");
           ajax_post(path,tmp_data,function1);
        })
    }else if(action == "reset_pwd"){
        $("#repwd").find("input").prop("value","");
        $("#repwd").modal('show');
        $("#myModalLabel").text(loginname);
        $("#rpwd_submit").click(function(){
            let path = '/';
            let tmp_data =  $("#new_pwd").prop("value");
            let function1 = console.log("");
            if (tmp_data.length < 6){
              alert("密码长度不足.");
              return
            };
            ajax_post(path,tmp_data,function1);
        })
    }else if (action === "lock"){
        let result = confirm("是否禁用 ?");
        if (result){
            console.log("locked.");
            let path = "/consumer/lock_user";
            let tmp_data = loginname;
            let function1 = console.log("");
            ajax_post(path,tmp_data,function1);
        }
    }else if (action === "unlock"){
        let result = confirm("是否解禁 ?");
        if (result){
            let path = "/consumer/unlock_user";
            let tmp_data = loginname;
            let function1 = console.log("");
            ajax_post(path,tmp_data,function1);
        }
    }
  });

//刷新列表
$("#department_refresh")

</script>
{%endblock%}
