{%extends "base.html"%}

{%block header%}
<title>部门</title>
{%endblock%}
{%block content1%}
<div >
<ol class="breadcrumb">
<li><a href="/">Home</a></li>
<li class="active">Department</li>
</ol>
</div>

<div>
  <div class="btn-group user_manager_add pull-right clearfix" style="margin-right: 20px;">
  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#department_add"><span class="glyphicon glyphicon-plus"></span> 添加部门</button>
  </div>
  <div style="margin-right: 20px;" >
  <table class="table table-bordered">
  <tbody id='department_list'>
   <tr>
    <td class="text-center bg-success" style="width:30px;">
     <a href="#" id="department_refresh" style="width:50px;line-height: 30px;">
     <span class="glyphicon glyphicon-refresh"></span>
     </a>
    </td>
    <td class="bg-success" style="width:300px;">
     <span style="line-height: 30px;">部门 </span>
     <input type="text" name="search" class="form-control pull-right input-sm " placeholder="搜索部门..." style="width: 250px;" >
    </td>
    <td class="bg-success text-center" style="line-height: 30px">成员</td>
    <td class="bg-success text-center" style="width:30px;line-height: 30px;">状态</td>
    <td class="bg-success text-center" style="width: 150px;line-height: 30px;">操作</td>
   </tr>
{%for group in data%}
	<tr data_row_id="{{forloop.counter}}">
	<td data_cell_id="{{forloop.counter}}-0">
	<input type="checkbox" name="userhook" class='userhook' data_check_box="{{group.id}}">
	</td>
	<td class="text-primary " data_cell_id="{{forloop.counter}}-1">{{group.dptname}} &nbsp;&nbsp; <span class="label label-primary">{{group.desc}}</span>
</td>
	<td class="text-primary" data_cell_id="{{forloop.counter}}-2">
         {%for user in users%}
         {%if user.dptname == group.dptname%}
	   <span class="label label-success">{{user.desc}}</span>
         {%endif%}
         {%endfor%}
	</td>
	<td class="text-success" data_cell_id="{{forloop.counter}}-3">
          {%if group.stat%}
	  <span class="label label-success">正常</span> 
          {%else%}
	  <span class="label label-danger">禁用</span> 
          {%endif%}
    </td>
	<td class="text-danger" data_cell_id="{{forloop.counter}}-4">
	<div class="btn-group ">
	<button  type="button" class="btn-xs btn btn-info " data_btn_edit='{{group.id}}' data_action="edit">
	<span class="glyphicon glyphicon-edit"></span> 编辑</button>
	<button type="button" class="btn btn-xs btn-danger" data_btn_del='{{group.id}}' data_action="delete">
	<span class="glyphicon glyphicon-trash"></span>删除
	</button>
	</div>
	</tr>
{%endfor%}

</tbody>
</table>

<div class="input-group ">
<button type="button" class="btn btn-xs btn-defualt" id="selector_btn" select_all=false>全选</button>
<button type="button" class="btn btn-xs btn-danger" data_action="dpart_lock"><span class="glyphicon glyphicon-lock"></span> 禁用</button>
</div> 	

<div class="modal fade" id="department_add">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h3 class="modal-title" id="department_lable"><span class="label label-primary"> 添加部门</label></h3>
</div>
<div class="modal-body">
   <form>
    <p><span class="glyphicon glyphicon-exclamation-sign text-primary"></span>部门名称唯一</p>
    <div class="input-group">
    <span class="input-group-addon ">部门: </span>
    <input type="text" name="department" class="form-control " style="width: 300px;"  placeholder="请输入部门名称">
  </div>
  <div class="input-group">
    <span class="input-group-addon">描述: </span>
    <input type="text" name="department_desc" class="form-control" placeholder="请输入简要描述信息...">
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
  <input type="submit"  class="btn btn-primary" name="department_tj" value="提交">
</div>
</div>
</div>
</div>


<div class="modal fade" id="department_edit">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h3 class="modal-title" id="department_edit_lable"><span class="label label-primary"> 添加部门</label></h3>
</div>
<div class="modal-body">
   <form>
    <p><span class="glyphicon glyphicon-exclamation-sign text-primary"></span>部门名称唯一</p>
    <div class="input-group">
    <span class="input-group-addon ">部门: </span>
    <input type="text" name="department_edit" class="form-control " style="width: 300px;"  placeholder="请输入部门名称">
  </div>
  <div class="input-group">
    <span class="input-group-addon">描述: </span>
    <input type="text" name="department_edit_desc" class="form-control" placeholder="请输入简要描述信息...">
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" style="float:left" data-dismiss="modal" data_action="dpt_unlock">解锁</button>
  <button type="button" class="btn btn-info" data-dismiss="modal">返回</button>
  <input type="submit"  class="btn btn-primary" name="department_edit_tj" value="提交">
</div>
</div>
</div>
</div>



<script>

//部门禁用 edit delete operation.
$("[data_action]").click(function(){
        let action = this.getAttribute("data_action");
        let dp_desc = $(this).parent().parent().siblings().first().next().children().text();
        let dpname2 = $(this).parent().parent().siblings().first().next().text().split(' ')[0];
        let pid = $(this).parent().parent().siblings().first().children().attr('data_check_box');
        if(action === 'dpart_lock'){
	var b = $("[data_check_box]").filter("input[type='checkbox']");
	var uidlist = [];
	for (let i of b) {
		if (i.checked){
			uidlist.push(i.getAttribute("data_check_box"));
		}
	}
        if (uidlist.length === 0){
            alert("请选择需要禁用的组织！");
            return
        }
	result = confirm("⚠️  此操作会导致文件不可访问？")
        if (result){
        let path = "/department/lock_department";
        for (let i of uidlist){
          $.post(path,{"pid":i})
        }
         function1('/department');
       }
      }else if(action === 'dpt_unlock'){
        let result = confirm("⚠️  是否解禁组织？");
        if(result){
          let path = '/department/locke_department'
          let tmp_data = {"pid":pid}
          ajax_post(path,tmp_data,function1('/department'))
        }
      }else if (action === "edit"){
    $('#department_edit_lable').children().text(dp_desc);
    $("[name='department_edit']").prop('value',dpname2);
    $("[name='department_edit_desc']").prop('value',dp_desc);
    $("#department_edit").modal('show');
   }else if(action === "delete"){
     let result = confirm("⚠️  删除后文件无法恢复！");
     if (result){
        let path = "/department/delete_department";
        let tmp_data = {"dpname":dpname2};
        ajax_post(path,tmp_data,function1("/department"));
     }
   }
});





$("input[name ='department_edit_tj']").click(function(){
  let dpname = $("input[name = 'department_edit']").prop("value");
  let dp_desc = $("input[name = 'department_edit_desc']").prop("value");
  let path = "/department/edit_department";
  let tmp_data = {"dpname":dpname,"dp_desc":dp_desc};
  if(dpname === ''){
   alert('⚠️  部门名称不能为空!');
   return
  }else if(dp_desc === ''){
   alert('⚠️  描述不能为空!');
   return
  };
  ajax_post(path,tmp_data,function1("/department"));
});

$("input[name ='department_tj']").click(function(){
  let dpname = $("input[name = 'department']").prop("value");
  let dp_desc = $("input[name = 'department_desc']").prop("value");
  let path = "/";
  let tmp_data = {"dpname":dpname,"dp_desc":dp_desc};
  if(dpname === ''){
   alert('⚠️  部门名称不能为空!');
   return
  }else if(dp_desc === ''){
   alert('⚠️  描述不能为空!');
   return
  };
  ajax_post(path,tmp_data,function1("/department"));
});

//刷新列表
$("#department_refresh").click(function(){
  location.assign("/department");
});

</script>
{%endblock%}
