<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
        {%block header%}
	<title>控制面板</title>
        {%endblock%}
</head>
<body>
<div class="menu_body" style='height:100%;'>
	<div class="log_ico">
	<img src="/static/img/log.png" class="img-rounded">
	</div>
	<div class="user_info">
		<div class="user_ico">
		<a href="#"><img src="/static/img/user.png" class="img-circle"></a>
		</div>
		<div class="user_proper">
		<a href="#"><span class="glyphicon glyphicon-user"></span> : admin</a>
		</div>
	</div>
	<div class="menu_list ">
		<ul class="nav nav-tabs nav-stacked text-center" id="menu_list">
			<li class=""><a href="/"><span class="glyphicon glyphicon-home"></span> 概览 </a> </li>
			<li><a href="/consumer"><span class="glyphicon glyphicon-user"></span> Samba用户</a></li>
			<li><a href="/department"><span class="glyphicon glyphicon-magnet"></span> 部门</a></li>
			<li><a href="/deploy"><span class="glyphicon glyphicon-cog"></span> 设置</a></li>
			<li><a href="/guider"><span class="glyphicon glyphicon-wrench"></span> 设置向导</a></li>
		</ul>
	</div>
</div>
<div class="content_body clearfix">
{% block content1 %}
	<div >
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">dashboard</li>
		</ol>
	</div>
{% endblock %}
<script>
$(function(events){
    $('#selector_btn').click(function() {
        let a = $("[data_row_id]").children().children("[type='checkbox']");
	$("#selector_btn").attr("select_all") === "true" ? ( a.prop("checked",false),$("#selector_btn").attr("select_all",false),$("#selector_btn").text("全选")):(a.prop("checked",true),$("#selector_btn").attr("select_all",true),$("#selector_btn").text("全不选"));   
	});
    var  pathstr = location.origin + location.pathname.replace(/\/$/,'');
    for (let i of $("#menu_list").children().children()){
        if (i.href.replace(/\/$/,'') === pathstr){
            i.parentNode.setAttribute("class","active");
        }
    }; 
    
});


//定义ajax处理函数
function ajax_post(path,tmp_data,function1){
		$.ajax({
			url: path,
			type: 'POST',
			dataType: 'json',
			data: tmp_data,
		})
		.done(function1)
		.fail(function() {
			alert("error");
		})
		.always(function() {
			console.log("complete");
		});
};
</script>
</div>
</body>
</html>
