
{%extends "base.html" %}
{% block content1 %}
	<div >
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">dashboard</li>
		</ol>
	</div>
	<div class="row " style="margin:0px;">
		<table class="table table-bordered text-center" style="margin-bottom: 0px;">
			<tbody>
				<tr>
					<td class="col-sm-1">在线用户</td>
					<td class="col-sm-1">文件数量</td>
					<td class="col-sm-4">服务器信息</td>
				</tr>
			</tbody>
		</table>
		<div class="clearfix img_info">
			<div class="dashboard_form">
			<img src="#" class="img-thumbnail dashboard_img"></div>
			<div class="dashboard_form">
			<img src="#" class="img-thumbnail dashboard_img"></div>
			<div class="dashboard_form">
			<img src="#" class="img-thumbnail dashboard_img"></div>
			<div class="dashboard_form">
			<img src="#" class="img-thumbnail dashboard_img"></div>
		</div>
	</div>
	<p>好久开始发挥看电视剧付款发极度疯狂圣诞节快疯了就打开了减肥打开房间</p>

{% endblock %}
</div>
</body>
</html>
