{%extends "base.html" %}
{% block content1 %}
	<div >
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">dashboard</li>
		</ol>
	</div>
	<div class="row " style="margin:0px;">
		<table class="table table-bordered text-center" style="margin-bottom: 0px;">
			<tbody>
				<tr>
					<td class="col-sm-1">在线用户</td>
					<td class="col-sm-1">文件数量</td>
					<td class="col-sm-4">服务器信息</td>
				</tr>
			</tbody>
		</table>
		<div class=" img_info" style="margin-left:20px;margin-top:20px;">
			<div class="dashboard_form">
			<canvas id="cpuimg" class="dashboard_img img-responsive"></canvas>
                        </div>
			<div class="dashboard_form pull-right">
			<canvas id="memimg" class=" dashboard_img img-responsive" ></canvas>
                        </div>
			<div class="dashboard_form">
			<canvas id="netimg" class=" dashboard_img img-responsive"></canvas>
                        </div> 
			<div class="dashboard_form pull-right">
			<canvas id="diskimg" class=" dashboard_img img-responsive"></canvas>
                        </div>
		</div>
	</div>
<script>
cpu = document.getElementById("cpuimg");
mem = document.getElementById("memimg");
net = document.getElementById("netimg");
disk = document.getElementById("diskimg");
img = new Image();

img.src = "/static/img/flower.png";
cpu.getContext("2d").drawImage(img,0,0);
mem.getContext("2d").drawImage(img,0,0);
net.getContext("2d").drawImage(img,0,0);
disk.getContext("2d").drawImage(img,0,0);
</script>

{% endblock %}
